* {
  box-sizing: border-box;
}

:root {
  --base-padding: 1.25rem;
}

body {
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

picture {
  display: block;
}

svg,
img {
  display: block;
  height: auto;
  max-width: 100%;
}
